.navItem {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e2e8f0;
  background: #fafcff;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 1px #bdc2cf;
  padding: 4px 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 12px;
}

.navItemActive {
  border-color: #2563eb;
  color: #1d4ed8;
  background: #eff6ff;
}
